
body {
    font-family: Helvetica, sans-serif;
    margin: 50px;
    font-size: 15px;
    text-align: center;
    align-content: center;
    margin-bottom: 5%;

    overflow-x: hidden;
    overflow-y: scroll;

}

h1 {
    font-size: 40px;
    padding: 5px;
}

textarea {
    border: none;
    box-shadow: 10px 10px 40px -37px rgba(0,0,0,0.75);
    background-color: rgb(0, 0, 22);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
}

checkbox {
    border: 1px solid black;
    background: none;
}

input[type=checkbox]:checked {
    background-color: darkblue;
}

#tgh {
    padding: 10px;
    border: 1px solid red;
    word-wrap: break-word;
}

.xss-info {
    font-size: 1em;
    line-height: 2;
    color: gray;
}

.xss-info a {
    font-family: monospace;
    padding: 5px;
    transition: 0.25s;
}

.xss-info a:hover {
    color: yellow;
    background-color: black;
    transition: 0.25s;
}

.xss-info u {
    color: black;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 98%;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    padding: 1%;
    margin: 0;
}